.card-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 450px;
    /* background-image: url(https://media.tenor.com/p0G_bmA2vSYAAAAd/login.gif); */
    background-size: cover;
    background-position: center;
    margin-top: 45px;
    padding: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 45px auto; 
  }
  
  .image-container-signin {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-signin {
    width: 150px;
    height: 150px;
  }
  
  .loading-image {
    width: 400px;
    height: 290px;
    margin-bottom: -100px;
    
  }
  
  .form-group-signin {
    margin-bottom: 15px;
    max-width: 300px;
    min-width: 300px;
  
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .input-signin {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .show-password-button-signin {
    background-color: rgb(248, 248, 248);
    border: none;
    font-size: 12px;
    cursor: pointer;
  }
  
  .signin-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signin-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .signup-button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    margin-bottom: -50px;
    cursor: pointer;
    color: #0080ff;
    text-decoration: underline;
  }
  
  .signup-button:focus,
  .signup-button:hover {
    color: #ff1515;
    outline: none;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .success-message {
    color: green;
    font-size: 12px;
    margin-top: 5px;
  }
  
  button[type="submit-login"] {
    padding: 10px 20px;
    margin-bottom: 70px;
    margin-left: 170px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit-login"]:hover {
    background-color: #0c0e0c;
  }
  button[type="submit-otp"]:hover {
    background-color: #0c0e0c;
  }
  
  .dhac{
    margin-top: 130px;
  }
  
  /* Media Queries */
  
  
  
  @media screen and (max-width: 576px) {
    .card-signin {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 360px;
      height: 340px;
      /* background-image: url(https://media.tenor.com/p0G_bmA2vSYAAAAd/login.gif); */
      background-size: cover;
      background-position: center;
      margin-top: 35px;
      margin-left: 5px;
      padding: auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .logo-signin {
      width: 100px;
      height: 100px;
    }
    
    .loading-image {
      width: 280px;
      height: 200px;
      margin-bottom: -70px;
    }
    
    .input-signin {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 12px;
    }
    
    .show-password-button-signin {
      background-color: rgb(248, 248, 248);
      border: none;
      font-size: 10px;
      cursor: pointer;
    }
    
    .signin-button {
      width: 100%;
      padding: 8px;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .signup-button {
      background-color: transparent;
      border: none;
      font-size: 12px;
      margin-bottom: -40px;
      cursor: pointer;
      color: #0080ff;
      text-decoration: underline;
    }
    
    .error-message,
    .success-message {
      font-size: 10px;
      margin-top: 3px;
    }
    
    button[type="submit-login"] {
      padding: 8px 16px;
      margin-bottom: 50px;
      margin-left: 130px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button[type="submit-login"]:hover {
      background-color: #0c0e0c;
    }
    
    .dhac {
      margin-top: 90px;
    }
    
  } 
  
  button[type="submit-login"],
  button[type="submit-otp"] {
    width: 45%; /* Adjust the width as needed */
    padding: 10px;
    margin: 10px 5px; /* Add some gap between the buttons */
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit-login"]:disabled,
  button[type="submit-otp"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }